.flex{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 0;
}

.tarjetas{
    background-color: rgb(212, 241, 247);
    margin-top: 40px;
    border-radius: 20px;
    
}

.tarjetas img {
  border-radius: 20px;
  margin: 15px;
  margin-bottom: 20px;
  padding: 5px;
  
  
  
}

img:hover {
  
  transform: scale(1.1);
}

