.card-detail_main{
    width: 400px;
    height: 600px;
    background-color: rgb(212, 241, 247);
    margin-top: 40px;
    border-radius: 20px;
    padding: 50px, 0;
    
}

.card-detail_img img {
  border-radius: 20px;
  width: 350px;
  margin-top: 20px;
  padding: 15px;
   
    

  
}
img:hover {
  
    transform: scale(1.1);
  }