.item-card_favicon {
    
    max-width: 150px;
    background-color: rgb(212, 241, 247);
    border-radius: 5px;
    margin: 20px 15px;
    cursor: pointer;
    border-color: rgb(0, 166, 243);


}
.item-card_favicon:hover{
    transform: scale(1.4);
    border-color: rgb(0, 166, 243);
    
}

.item-card_favicon.favorite{
    background-color: #3db7fd;
background-image: linear-gradient(160deg, #42b4f7 0%, #80D0C7 100%);

    border-radius: 30px;
    border-color: rgb(0, 166, 243);
   
    
}
